<!DOCTYPE html>
<html ng-app="marketApp">
  <head>
    <meta charset="utf-8">
    <title>Market Place</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="vendors/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>

  </head>
  <body>


<div class="container">
  <div class="row header">
    <h1>Welcome To The Market</h1>
  </div>
<div ng-controller='MarketController'>
  <div class="item_container">
    <div class="item_name">Item Name</div>

    <button type="button" ng-click="">Sell</button>
  </div>
</div>
</div>

  </body>
</html>
